<!-- <p>Hi {{ user.email }},</p>
<p>Click the link below to verify your email:</p>
<p><a href="{{ verify_url }}">{{ verify_url }}</a></p>
<p>If you didn’t request this, please ignore this email.</p> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h2>Email Verification</h2>
    <p>Hello, {{ user.username }}!</p>
    <p>Please click the link below to verify your email address:</p>
    <a href="{{ verification_link }}">Verify Email</a>
    <p>If you did not sign up for this account, please ignore this email.</p>
</body>
</html>

